
@model TravelTrip.Models.Sınıflar.BlogYorum
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog | Single</title>
    <link href="~/web2/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/web2/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>

    <!-- jQuery ve JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/web2/js/move-top.js"></script>
    <script type="text/javascript" src="~/web2/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <div class="container">
            <!-- Logo, menü vb. burada olabilir -->
            <div class="clearfix"></div>
        </div>
    </div>

  
    <div class="single">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 single-main">
                    @foreach (var x in Model.Deger1)
                    {
                        <div class="single-grid">

                            <img src="@x.BlogImage" style="margin-top:20px;" alt="Blog Görseli" />


                            <a href="/Blog/BlogDetay/@x.ID" style="margin-top: 20px;">@x.Baslik</a>
                            <p>
                                @x.Aciklama
                            </p>
                        </div>
                       }
                        </div>

                <div class="col-md-4 side-content">
                    <div class="recent">
                        <h3>Son Bloglar</h3>
                        @foreach (var y in Model.Deger3)
                        {
                        <ul>
                            <li><a href="/Blog/BlogDetay/@y.ID">@y.Baslik</a></li>                 
                        </ul>
                        }
                    </div>
                    <div class="comments">
                        <h3>Son Yorumlar</h3>
                       
                        <ul>
                            <li><a href="#"></a>  <a href="#"></a></li>
                           
                        </ul>
                    </div>
                </div>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /single -->
</body>
</html>
